$font-size: 12px;
$font-family: "Inter", "Arial", sans-serif;

$whiteColor: rgba(255, 255, 255, 1); // #FFFFFF;
$textMainColor: rgba(21, 21, 21, 1); // #151515;
$transparentTextMainColor: rgba(21, 21, 21, 0.75);
$textAuxColor: rgba(34, 34, 34, 0.7);

$textFooterColor: rgba(207, 207, 207, 1);

$backgroundMainColor: rgba(244, 244, 244, 1); // #F4F4F4;
$backgroundFooterColor: rgba(239, 239, 239, 1);
$buttonBgColor: rgba(235, 235, 235, 1);
$transparentButtonBgColor: rgba(235, 235, 235, 0.6);
$checkboxBgColor: rgba(255, 255, 255, 1);

$captionPseudoColor: rgba(215, 212, 212, 1); // #D7D4D4;
$greenButtonColor: rgba(36, 180, 126, 1); // #24B47E;

$formBorderColor: rgba(199, 199, 199, 0.5);
$sectionBorderColor: rgba(227, 227, 227, 1);
