$font-size: 12px;
$font-family: "Inter", "Arial", sans-serif;

$textMainColor: rgba(21, 21, 21, 1);
$textAuxColor: #222222;
$textFooterColor: rgba(207, 207, 207, 1);

$backgroundMainColor: #f4f4f4;
$backgroundFooterColor: rgba(239, 239, 239, 1);
$buttonBgColor: rgba(235, 235, 235, 1);


$transparentTextMainColor: rgba(21, 21, 21, 0.75);
$transparentButtonBgColor: rgba(235, 235, 235, 0.6);
