.bicycles {
  padding: 60px 120px;
  display: grid;
  grid-template-columns: 460px 740px;
  &__slidebar {
    overflow: hidden;
    grid-area: 2/1/2/3;
  }
}

@media screen and (max-width: 1439px) {
  .bicycles {
    padding: 41px 18px 77px;
    grid-template-columns: 284px;
    grid-template-rows: 101px 30px 305px 4px;
    gap: 20px;
    &__slidebar {
      overflow: hidden;
      grid-area: 3/1/3/1;
    }
  }
}
