.button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &__container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: max-content;
    box-sizing: border-box;

    &_type_purpose {
      gap: 20px;
    }

    &_type_bicycles {
      justify-self: flex-end;
      gap: 40px;
      margin: 29px 0 0;
      & #radio-bicycles-1:checked ~ .container_type_bicycles {
        left: 0;
      }
      & #radio-bicycles-2:checked ~ .container_type_bicycles {
        left: -100%;
      }
      & #radio-bicycles-3:checked ~ .container_type_bicycles {
        left: -200%;
      }
    }
  }

  &__hide-radio {
    display: none;

    &:checked + .button_type_radio {
      color: $textMainColor;
      &:hover {
        opacity: 0.75;
      }
    }

    &:disabled + .button_type_radio {
      color: $textAuxColor;
    }
  }

  &_type_radio {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $textAuxColor;
  }

  &_type_arrow {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $buttonBgColor;
    color: $textMainColor;
    background: url(/images/button_arrow.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: $transparentButtonBgColor;
      color: $transparentTextMainColor;
    }
  }

  &_direction_left {
    transform: translateX(-2px);
  }

  &_direction_right {
    transform: translateX(2px) rotate(180deg);
  }

  &_type_gear {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .button {
    &__container {
      &_type_purpose {
        position: absolute;
        top: 87px;
        right: 18px;
        gap: 10px;
      }
    }

    &_type_arrow {
      width: 24px;
      height: 24px;
      border-radius: 30px;
      background-size: 5px 10px;
    }

    &_direction_left {
      transform: translateX(0px);
    }

    &_direction_right {
      transform: translateX(0px) rotate(180deg);
    }

    &_type_gear {
      display: flex;
      grid-area: 3/2/3/2;
      // align-self: center;
      // align-content: center;
      align-items: center;
      justify-content: center;
    }
  }
}
