.button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &_type_menu {
    display: none;
  }

  &_type_dots {
    display: none;
  }

  &_type_dropdown {
    display: none;
  }

  &_type_radio {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--textAuxColor);
    opacity: 0.4;
  }

  &_type_hide-radio {
    display: none;

    &:checked + .button_type_radio {
      color: var(--textMainColor);
      opacity: 1;
      &:hover {
        opacity: 0.75;
      }
    }

    &:disabled + .button_type_radio {
      color: var(--textAuxColor);
    }
  }

  &_type_hide-radio-dots {
    display: none;
    &:checked + .button_type_dots {
      background: var(--textMainColor);
      &:hover {
        opacity: 0.75;
      }
    }
  }

  &_type_arrow {
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textMainColor);
    background: url(../images/button_arrow.png);
    background-color: var(--buttonBgColor);
    background-repeat: no-repeat;
    background-position: center;
  }

  &_direction_left {
    transform: translateX(-2px);
  }

  &_direction_right {
    transform: translateX(2px) rotate(180deg);
  }

  &_type_gear {
    display: none;
  }

  &:hover {
    color: var(--transparentTextMainColor);
    opacity: 0.6;
  }
}

@media screen and (max-width: 1439px) {
  .button {
    &_type_menu {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 25px;
      right: 18px;
      display: flex;
      width: 22px;
      height: 19px;
      background-image: url(../images/button_menu.svg);
      background-color: var(--backgroundMainColor);
      background-repeat: no-repeat;
      background-size: 22px, auto, contain;
      background-position: center;
    }

    &_type_dots {
      display: flex;
      width: 4px;
      background-size: 4px 4px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: var(--dotesBgColor);
    }

    &_type_arrow {
      margin: 2px 0 0;
      width: 24px;
      height: 24px;
      border-radius: 30px;
      background-size: 5px 10px;
    }

    &_direction_left {
      transform: translateX(0px);
      background-position: top 7px right 11px;
    }

    &_direction_right {
      transform: translateX(0px) rotate(180deg);
      background-position: top 7px right 11px;
    }

    &_type_dropdown {
      grid-area: 2/1/2/1;
      display: flex;
      width: 114px;
      height: 30px;
      border: 1px solid #e3e3e3;
      color: var(--textMainColor);
      border-radius: 2px 2px 0px 0px;
      font-weight: 600;
      font-size: 11px;
      line-height: 14px;
      justify-content: flex-start;
      padding: 1px 0 0 11px;
      align-items: center;
      background: url(../images/button_chevron_down.svg);
      background-repeat: no-repeat;
      background-position: top 11px left 90px;
    }

    &_type_radio {
      font-size: 11px;
      line-height: 14px;
    }

    &_type_hide-radio {
      display: none;
    }

    &_type_gear {
      display: flex;
      grid-area: 3/2/3/2;
      align-items: center;
      justify-content: center;
      background: var(--backgroundFooterColor);
    }
  }
}
