.caption {
  margin: 0;
  padding: 0;
  color: $textMainColor;
  max-width: max-content;

  &_type_intro {
    grid-area: 5/1/5/1;
    display: grid;
    grid-template-columns: max-content 132px;
    gap: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    &::after {
      content: "";
      width: 132px;
      height: 2px;
      background: $captionPseudoColor;
      align-self: center;
    }
  }

  &_type_author {
    color: $textMainColor;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }
  &_type_job {
    color: $textAuxColor;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.7;
  }

  &_type_bicycles {
    padding: 0 0 0 6px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1439px) {
  .caption {
    &_type_intro {
      display: none;
    }

    &_type_author {
      font-size: 14px;
      line-height: 22px;
    }

    &_type_job {
      font-size: 10px;
      line-height: 16px;
    }

    &_type_bicycles {
      padding: 0 0 0 0px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
