.card {
  margin: 0;
  padding: 0;
  display: grid;
  box-sizing: border-box;

  &__img-container {
    position: relative;
  }

  &__icon {
    position: absolute;
    transition: visibility 1s ease-in-out;
    &_type_label {
      max-width: max-content;
      max-width: 200px;
      z-index: 1;
      bottom: 13px;
      left: 0;
    }
    &_type_line {
      z-index: 2;
      bottom: 24px;
      left: 16px;
    }
  }

  &_type_intro {
    padding: 20px 50px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 347px;
    right: 370px;
    width: 440px;
    height: 300px;
    object-fit: cover;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
    background: $backgroundMainColor;
  }

  &_type_fixed {
    position: absolute;
  }

  &_type_purpose {
    position: absolute;
    grid-template-rows: 60px 148px 400px;
    gap: 47px;
    transform: translateX(-106.15%);
    transition: transform 1s ease-in-out;
    & > .heading {
      visibility: hidden;
    }
    & > .text {
      visibility: hidden;
    }
    & > .card__img-container > .card__icon {
      visibility: hidden;
    }
  }

  &_type_bicycles {
    box-sizing: border-box;
    grid-template-rows: 380px 22px;
    gap: 22px;
    border-radius: 20px;
    // filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
    // box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);

    & img {
      // filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
      // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      padding: 20px;
    }
  }

  &_visible_first {
    transform: translateX(0);
    & > .heading {
      visibility: visible;
    }
    & > .text {
      visibility: visible;
    }
    & > .card__img-container > .card__icon {
      visibility: visible;
    }
  }

  &_visible_second {
    transform: translateX(106.15%);
  }

  &_visible_second ~ .card_type_purpose {
    transform: translateX(212.3%);
  }
}

@media screen and (max-width: 1439px) {
  .card {
    &__img-container {
      position: relative;
      grid-area: 2/1/2/1;
    }

    &__icon {
      &_type_label {
        width: 70px;
        z-index: 1;
        bottom: 13px;
        left: 0;
      }

      &_type_line {
        z-index: 2;
        bottom: 24px;
        left: 16px;
      }
    }

    &_type_intro {
      padding: 11px 27px;
      box-sizing: border-box;
      position: absolute;
      z-index: 1;
      top: 300px;
      right: 50px;
      width: 234px;
      height: 160px;
    }

    &_type_purpose {
      border-top: 1px solid $sectionBorderColor;
      position: absolute;
      grid-template-rows: 80px 175px 90px;
      gap: 40px;
      transform: translateX(-106.15%);
      transition: transform 1s ease-in-out;
      & > .heading {
        visibility: hidden;
      }
      & > .text {
        visibility: hidden;
      }
      & > .card__img-container > .card__icon {
        visibility: hidden;
      }
    }

    &_type_bicycles {
      box-sizing: border-box;
      grid-template-rows: 269px 18px;
      gap: 3px;
      border-radius: 20px;
      justify-content: center;
      justify-items: center;

      & img {
        border-radius: 20px;
        padding: 15px;
      }
    }

    &_visible_first {
      transform: translateX(0);
      & > .heading {
        visibility: visible;
      }
      & > .text {
        visibility: visible;
      }
      & > .card__img-container > .card__icon {
        visibility: visible;
      }
    }

    &_visible_second {
      transform: translateX(106.15%);
    }

    &_visible_second ~ .card_type_purpose {
      transform: translateX(212.3%);
    }
  }
}
