.container {
  padding: 0;
  margin: 0;
  display: grid;
  list-style: none;
  box-sizing: border-box;
  // overflow: hidden;

  &_type_header {
    padding: 0 0 1px 922px;
    min-height: inherit;
    grid-template-columns: repeat(3, max-content);
    gap: 34px;
    align-content: center;
  }

  &_type_quote {
    grid-template-rows: 1fr 32px 32px;
    gap: 6px;
  }

  &_type_purpose {
    overflow: hidden;
    width: 100%;
    min-height: 702px;
    // grid-template-columns: repeat(3, 650px);
    // position: relative;
    margin: 0 0 50px;
    // display: flex;
    // gap: 40px;
    // transition: 10s ease-in-out;
  }

  &_type_bicycles {
    width: 100%;
    padding: 117px 0 0;
    grid-template-columns: repeat(9, 1fr);
    gap: 30px;
    transition: transform 1s ease-in-out;
  }

  &_type_trainings {
    grid-template-rows: 60px 1fr 31px;
    gap: 47px;
  }

  &_type_footer {
    margin: 0 auto;
    max-width: 1440px;
    padding: 80px 120px 60px;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 64px 86px 28px;
    gap: 50px;
  }
}
