.heading {
  margin: 0;
  padding: 0;
  color: $textMainColor;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  max-width: 460px;
  transition: visibility 1s ease-in-out;

  &_place_intro {
    padding: 3px 0 0;
  }

  &_place_quote {
    max-width: 470px;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
  }

  &_place_trainings {
    padding: 3px 0 0;
  }

  &_place_purpose {
    padding: 3px 0 0;
  }

  &_place_bicycles {
    padding: 3px 0 0;
  }

  &_place_footer {
    max-width: 229px;
    padding: 1px 0 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: unset;
  }
}

@media screen and (max-width: 1439px) {
  .heading {
    max-width: 284px;
    font-size: 32px;
    line-height: 40px;

    &_place_intro {
      padding: 0;
    }

    &_place_quote {
      max-width: unset;
      font-size: 23px;
      line-height: 29px;
    }
    &_place_purpose {
      padding: 41px 0 0;
    }
    &_place_footer {
      max-width: unset;
      padding: 2px 0 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: unset;
    }
  }
}
