.page {
  font-family: $font-family;
  min-width: 320px;
  margin: 0 auto;
  background: $backgroundMainColor;
  position: relative;
}

// * {
//   border: 1px solid red;
// }

// TODO SVG for purpose block
// TODO Animation for intro block
// TODO Slider 1
// TODO Slider 2
// TODO Shadow for bicycles cards
