.page {
  font-family: $font-family;
  min-width: 320px;
  margin: 0 auto;
  background: var(--backgroundMainColor, $backgroundMainColor);
  position: relative;
}

* {
  // border: 1px solid red;
  box-sizing: border-box;
}

// TODO SVG for purpose block
// TODO Slider 1
// TODO Slider 2 adaptive
// TODO Shadow for bicycles cards
