.purpose {
  padding: 60px 0 60px 120px;
  min-height: 922px;
  position: relative;
  &__slidebar {
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 1439px) {
  .purpose {
    padding: 40px 18px 40px;
    min-height: 505px;
  }
}
