.trainings {
  padding: 150px 120px 123px;
  display: grid;
  grid-template-columns: 460px 580px;
  grid-template-rows: 60px 275px 28px;
  gap: 47px 160px;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 1439px) {
  .trainings {
    padding: 40px 18px 60px;
    border-top: 1px solid var(--sectionBorderColor);
    grid-template-columns: 284px;
    grid-template-rows: 43px 225px 89px 20px;
    gap: 40px;
  }
}
